body{
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    display:block;
    margin: 0px;
}
.first-block{
    display: block;
    width: 70%;
    /*justify-content: center;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.header{
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #1F2937;
    margin-top: 8px;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;   
}
a{
    font-size: 18px;
    text-decoration: none;
    margin: 8px;
    color: #E5E7EB;
}
.hero{
    margin-top: 130px;
    display: inline-flex;
    justify-content: space-between;
    gap: 50px;
}
.hero-block{
    color: #F9FAF8;
    width: 50%;
}
.hero-title{
    font-family: 'Roboto', sans-serif; 
    font-size: 48px;
    font-weight: 700;
}
.hero-text{
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.hero-button{
    padding: 8px;
    background-color: #3882F6;
    margin-top: 8px;
    width: 130px;
    height: 35px;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
}
.hero-img{
    width: 500px;
    height: 250px;
}

.second-block{
    background-color: white;
    height: 420px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

.second-title{
    font-size: 36px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    margin-bottom: 50px;
}
.boxes{
    display: inline-flex;
    width: 60%;
    gap: 50px;
    
}
.boxes img{
    border: solid #3882F6 5px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.box-text{
    width:150px;
    height: 150px;
    text-align: center;
}

.third-block{
    height: 450px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-box{
    width: 50%;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
}
.quote-author{
    margin-left:auto;
}
.fourth-block{
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-box{
    width: 75%;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    color:#E5E7EB;
}
.call-box button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #E5E7EB;
    background-color: transparent;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
}
.call-title{
    margin-bottom: 0px;
}
.call-text{
    margin-top: 0px;
}
.footer{
    height: 100px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}